h1 {
  text-align: center;
  color: white;
  font-family: 'Headland One', serif;
}

.header{
  height: 70px;
  background-color: black;
  margin: 15px;
  padding: 15px;
  border-radius: 10px 10px 25px 25px;
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: x-large;
  box-shadow: 1px 1px 1px black;
  /* font-family: 'Kalam', cursive; */
  font-family: 'Shadows Into Light', cursive;
}

.square_empty {
  width: 50px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px;
  display: inline-block;
  background-color: black;
  color: transparent;
  font-size: x-large;
  box-shadow: 1px 1px 1px black;
  /* font-family: 'Kalam', cursive; */
  font-family: 'Shadows Into Light', cursive;
}

.square_red {
  width: 50px;
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px;
  display: inline-block;
  background-color: black;
  color: red;
  font-size: x-large;
  box-shadow: 1px 1px 1px black;
  /* font-family: 'Kalam', cursive; */
  font-family: 'Shadows Into Light', cursive;
}

.box {
  border: white 2px solid;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.solve_button {
  margin: 25px;
}

.sudoku_board {
  width: 470px;
  height: 160px;
  display: inline-block;
  margin: 20px;
}

.sudoku_interface {
  text-align: center;
}

.buttons {
  margin: 30px;
}

.button {
  background-color: black;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  height: 50px;
  width: 100px;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
}